.journal-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.journal-memories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.journal-text {
    margin-top: 0;
    color: gray;
}

.journal-image {
    width: 400px;
    height: 350px;
    border-radius: 30px;
}

.journal-list--expanded {
    background: #ffffff35;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .journal-list--expanded:hover {
    background: linear-gradient(90deg, #986355 5%, #B58B7D 25%, #C99383 75%, #986355 98%);
  }