.button {
    border-radius: 6px;
    border: none;
    padding: 8px 30px;
    font-family: inherit;
    cursor: pointer;
    transition: background 0.25s;
    font-size: 16px;
    color: white;
}

.button:hover {
    background: linear-gradient(90deg, #986355 5%, #B58B7D 25%, #C99383 75%, #986355 98%);

}

.accent {
    background: linear-gradient(to right, #312eb5 30%, #986355 100%);
}